:root {
  --background: #fff0f0;
  --text-color: #333333;
  --space-size--md: 20px;
  --space-size--sm: 15px;
  --space-size--lg: 40px;
}

html,
body {
  max-width: 100vw;
}

body {
  padding: 0 var(--space-size--md);
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
