.survey {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 360px) {
    width: 100%;
  }
}

.buttonGroup {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-size--md);
}
