.page {
  max-width: 570px;
}

.answerWrapper {
  padding: var(--space-size--md) 0;
  border-bottom: 1px solid #dddddd;
}

.question {
  margin-bottom: var(--space-size--sm);
}

.buttonWrapper {
  margin: var(--space-size--md) 0 var(--space-size--lg);
  display: flex;
  justify-content: center;
}
